<p>Welcome <%= current_user.email %></p>
<h1>Your Invoice</h1>
<h3>Costomer Name => <%= @costomer.name %></h3>
<table>
	<tr>
		<th>Invoice Id</th>
    <th>Item name</th>
		<th>Item quantity</th>
		<th>Invoice Total Price</th>
	</tr>
  <% @invoices.each do |invoice| %>
	<tr>
		<td><%= invoice.id %></td>
  	<% item = Item.find(invoice.item_id)%>
    <td><%= item.name %></td>
		<td><%= invoice.quantity %></td>
		<td><%= invoice.total_price %></td>

	</tr>
  	<% end %>
</table>
<h3>Your Total Invoice is => <%= Invoice.sum(:total_price)%></h3>
