<h1>New Invoice</h1>

<%= form_with model: @invoice,url: {action: "create"} do |form| %>
  <div>
    <%= form.label :quantity %><br>
    <%= form.text_field :quantity %>
  </div>

   <div>
    <%= form.label :total_price %><br>
    <%= form.text_field :total_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
