<h1>My Invoice</h1>

<ul>
    <li>
       Costomer Name => <%= @costomer.name %>
    </li>
     <li>
        Item Name => <%= @item.name %>
    </li>
    <li>
        Costomer Id => <%= @invoice.costomer_id %>
    </li>
    <li>
        Item Id => <%= @invoice.item_id %>
    </li>
    <li>
       Total Price => <%= @invoice.total_price %>
    </li>

</ul>
